@model IEnumerable<CycoPath.Models.Carpark>
@using Jmelosegui.Mvc.GoogleMap

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}



@section scripts
                            {
    @(Html.GoogleMap().ScriptRegistrar())
}




@{
    Html.GoogleMap()
               .Name("map")
               .Height(400)
               .Center(c => c.Latitude(@ViewBag.lat)
                             .Longitude(@ViewBag.lon))
               .Zoom(12)
               .Circles(cf =>
               {
                   cf.Add()
                            .Center(new Location(@ViewBag.lat, @ViewBag.lon))
                            .Radius(1000)
                            .FillColor(System.Drawing.Color.Blue)
                            .StrokeColor(System.Drawing.Color.DarkBlue)
                            .StrokeWeight(4);
               })
                .BindTo<CycoPath.Models.Carpark, Marker>
             (Model, mappings => mappings.For<CycoPath.Models.Carpark>
                 (
                     binding => binding.ItemDataBound
                         (
                             (marker, regionInfo) =>
                             {
                                 marker.Latitude = regionInfo.y_coord;
                                 marker.Longitude = regionInfo.x_coord;
                                         marker.Window = new InfoWindow(marker)
                                 {
                                     Template =
                           {
                                     Content = () => ViewContext.Writer.Write("<form action='/TrackMe/Index' method='post'><input type='hidden' id='hiddenTab3' name='hiddenTab3' value='"+ regionInfo.y_coord+","+regionInfo.x_coord+ "' /><input type='submit' value='Select'/></form>")
                           }
                                 };
                             }
                         )
                 )
             )
             .Render();


}