
@model dynamic
@using CycoPath.Models;
@using Jmelosegui.Mvc.GoogleMap



@{List<string> Name = new List<string>();
    List<double> CoordinatesX = new List<double>();
    List<double> CoordinatesY = new List<double>();
}

@foreach (Park parks in Model.Parks)
{
    string name = parks.Name;
    string[] coordinates = parks.Coordinates.Split(',');


    Name.Add(name);
    CoordinatesX.Add(double.Parse(coordinates[1]));
    CoordinatesY.Add(double.Parse(coordinates[0]));
}

@{ViewBag.startx = CoordinatesX[0]; }
@{ViewBag.starty = CoordinatesY[0]; }

@section scripts
                            {
    @(Html.GoogleMap().ScriptRegistrar())
}

@(
                        Html.GoogleMap()
                        .Name("map")
                        .Height(600)
                        .Center(c => c.Latitude((CoordinatesX[0] + CoordinatesX[1]) / 2)
                        .Longitude((CoordinatesY[0] + CoordinatesY[0]) / 2))
                        .Zoom(13)


         //.Polylines(pf =>
         //{
         //    foreach (List<double[]> path in Model.Paths)
         //    {
         //        pf.Add().Points(ptn =>
         //        {
         //            foreach (double[] points in path)
         //            {
         //                ptn.Add(points[1], points[0]);
         //            }
         //        }).StrokeColor(System.Drawing.Color.DarkRed);
         //    }
         //})
         .Polylines(pf => pf.Add()
            .Points(ptn =>
            {
                foreach (List<double[]> path in Model.Paths)
                {
                    foreach (double[] points in path)
                    {
                        ptn.Add(points[1], points[0]);
                    }
                }
            })
            .StrokeColor(System.Drawing.Color.DarkRed))
         .Markers(m => m.Add()
                        .Latitude(CoordinatesX[0])
                        .Longitude(CoordinatesY[0])

                        .Title("Start Location")

                        .Window(window => window.Add()
                                                .MaxWidth(200)
                                                .ZIndex(3)
                                                .DisableAutoPan(false)
                                                .Content(
                        // To put the model part here
                        @<text> <h1 style="color:black">Start Location: @Html.Raw(Name[0])  </h1> </text>
                                )
                            )
                        )

                .Markers(n => n.Add()
                .Latitude(CoordinatesX[1])
                .Longitude(CoordinatesY[1])
                .Title("End Location")

                        .Window(window => window.Add()
                                                .MaxWidth(200)
                                                .ZIndex(3)
                                                .DisableAutoPan(false)
                                                .Content(
    // To put the model part here
                                @<text><h1 style="color:black">End Location: @Html.Raw(Name[1]) </h1></text>
                            )
                                                
                        )
                    )
)

@{
    ViewBag.Title = "ParkResult";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="section third-section">
    <div class="triangle"></div>
    <div class="container">
        <!-- Park Cards section start -->
        <div class="row-fluid team">
            @{int i = 0;}
            @foreach (Park park in Model.Parks)
            {
                <div class="span4">
                    <div class="thumbnail">
                        <img src="@Url.Content("~/Content/CustomTemplate/")images/Team1.png" alt="team 1">
                        <h3>@Html.DisplayFor(modelItem => park.Name)</h3>

                        @{int k = 0;}
                        @foreach (Weather weather in Model.Weather)
                        {
                            if (k == 0 && i == 0)
                            {
                                <div class="mask">
                                    <h2>Forcast</h2>
                                    <p>@Html.DisplayFor(modelItem => weather.Forecast)</p>
                                </div>
                            }
                            else if (k == 1 && i == 1)
                            {
                                <div class="mask">
                                    <h2>Forecast</h2>
                                    <p>@Html.DisplayFor(modelItem => weather.Forecast)</p>
                                </div>
                            }
                            k++;
                        }
                    </div>
                </div>
                                i++;
                            }
            <div class="span4" style="padding-right:3px">
                <div class="row span11">
                    @using (Html.BeginForm("Index", "Carparks", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-md-4 portfolio-item">
                            <div class="caption">
                                <h3>Information</h3>
                                <p>To set path as the path that are you going select the radio button bellow. By selecting the radio button, this path will be saved and can be used in "Track Me!" function.</p>
                                <div class="thumbnail">
                                    <div>
                                        @Html.RadioButton("Answer", "Set as path!") <span>Set as path!</span>
                                    </div>
                                    <div>
                                        @Html.RadioButton("Answer", "Set as path and search carpark!") <span>Set as path and search carpark!</span>
                                    </div>
                                </div>
                                <input type="hidden" id="hiddenTab" name="hiddenTab" value="@ViewBag.startx" />
                                <input type="hidden" id="hiddenTab1" name="hiddenTab1" value="@ViewBag.starty" />

                                <button id="subscribe" class="button button-sp" style="margin-top:10px;">Submit!</button>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>